@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
	box-sizing:border-box;
}

body{
	background:hsl(212,45%,89%);
	font-family: 'Outfit', sans-serif;
	font-weight:400;
	display:grid;
	place-items:center;
}

.container{
	width:95%;
	max-width:375px;
	padding:1rem;
	margin-bottom:2rem;
	background:hsl(0,0%,100%);
	border-radius:1rem;
}

.image{
	width:100%;
	border-radius:12px;
}

.text{
	width:90%;
	margin:auto;
	text-align:center;
}

.title{
	font-weight:700;
	font-size:1.5rem;
	color:hsl(218, 44%, 22%);
}

.description{
	font-size:1.05rem;
	color:hsl(220, 15%, 55%);
}
